@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #5E3BEE;
    --secondary-color: #000;
    --primary-font: 'Roboto', sans-serif;
}

* {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-container
{
    padding: 20px 0;
    background-color: #FFF;
}

.header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.header .logo img {
    width: 200px;
}

.header nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a.active {
    color: var(--primary-color);
}

button {
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    background-color: #FFF;
}

button a {
    color: var(--primary-color);
}

.contact-button {
    width: 8rem;
}

@media screen and (max-width: 768px)
{
    .header {
        flex-direction: column;
    }

    .header nav {
        flex-direction: column;
        padding: 20px 0;
    }

    .header .logo img {
        width: 150px;
    }
}